@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-100
}
.heading{
  @apply flex items-center font-semibold text-lg gap-1
}
.heading svg{
  @apply text-2xl text-green-700
}

.gallery_main {
  @apply p-5 m-auto grid grid-rows-2 grid-cols-3 md:grid-rows-3 md:grid-cols-5 gap-5 h-full relative;
}
.image_items {
  @apply relative transition duration-500 border border-gray-300 p-4 text-center overflow-hidden
  after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black 
  after:bg-opacity-40 after:invisible after:opacity-0 after:duration-300 after:transition after:pointer-events-none;
}
.selected_img{
  @apply  before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-black 
  before:bg-opacity-40 before:pointer-events-none before:z-50
}
.image_items:hover::after{
 @apply visible opacity-100;
}
.image_items img{
  @apply transition duration-500 cursor-pointer;
}
.image_items.dragging img{
  transform: scale(1.1);
}
.gallery_main .image_items:nth-child(1){
  @apply col-start-1 col-end-3 row-start-1 row-end-3 bg-emerald-500 border-4 border-emerald-700;
}
.checkbox{
  @apply absolute top-2 left-2 bg-white z-50 invisible opacity-0 transition-all;
}
.image_items:hover .checkbox{
  @apply visible opacity-100
}
.upload_btn{
  @apply border-dotted border-2 border-slate-600;
}
.upload_label{
  @apply w-full h-full cursor-pointer gap-4 font-semibold text-xs md:text-sm lg:text-base flex flex-col justify-center items-center;
}

.delete_btn{
  @apply w-8 h-8 rounded-full bg-red-600 border-none font-semibold flex items-center justify-center shadow-md cursor-pointer transition-all overflow-hidden relative text-white text-base
  before:absolute before:-top-8 before:content-['Delete'] before:text-white before:transition-all before:text-[2px];
}

.delete_btn:hover {
  @apply w-24 rounded-full transition-all bg-red-600 items-center before:text-sm before:opacity-100 before:translate-y-[30px] before:transition-all;
}

.delete_btn:hover .blt_icon {
  @apply text-3xl transition-all translate-y-[60%];
}