@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-100
}
.gallery_main {
  @apply p-5 m-auto grid grid-rows-3 grid-cols-5 gap-5 h-full relative;
}
.image_items {
  @apply border relative border-gray-300 p-4 text-center overflow-hidden
  after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black 
  after:bg-opacity-40 after:invisible after:opacity-0 after:duration-300 after:transition after:pointer-events-none;
}

.image_items:hover::after{
 @apply visible opacity-100;
}
.image_items img{
  @apply transition-all;
}
.image_items.dragging img{
  transform: scale(1.1);
}
.gallery_main .image_items:nth-child(1){
  @apply col-start-1 col-end-3 row-start-1 row-end-3 bg-emerald-500 border-4 border-emerald-700;
}
.checkbox{
  @apply absolute top-2 left-2 bg-white z-50;
}
.upload_btn{
  @apply border-dotted border-2 border-slate-600;
}
.upload_label{
  @apply w-full h-full cursor-pointer gap-4 font-semibold text-lg flex flex-col justify-center items-center;
}
